/*:root {
    --celeste: #289dad;
    --blanco: #fff;
}*/

html{
    scroll-behavior: smooth;
}

.html,body{
    min-height:100vh;
}
body{
    font-family: "Lobster", cursive;
    font-family: "Cabin", sans-serif;
    background: #000;
}
/*
.img1{
    width: 1220px;
    height: 707px;
}
*/
.container {
    padding: 0px;
  }
.header{
    min-height: 100vh;
}

.header .navbar{
    background:royalblue;}

h2 {
    color: white;
    font-size: 45px;
    text-align: center;
    position: relative;
    margin-top: 1em;
}

h6 {
    color: white;
    font-size: 36px;
    text-align: center;
    position: top;
}

hr{
    background-color: #289dad;
    width: 90%;  
    margin: 60px; 
    
}

.contenido{
    color: white;
}

.caja{
    display: table-cell;
    padding: 3%;
   
}

p{
    margin: 10px;
    text-align: justify;

    
}

/* Destacados */
#Destacados h5{
    font-weight: bold;
}

#Destacados p{
    font-weight: lighter;
}

.fav-icon{
    color:#fff;
    background-color: #289dad;
    padding: 8px;
    border-radius: 3px;

}
.fas{
    margin-left: 45%;
    font-size: 30px;
}

.card{
    margin: 45px, 0, 45px, 0;
       
}
.card-body{
    background: #289dad;
    color: #fff;
}

.col{
    margin-top: 15px;
}

/*Estilos contactos*/

.container-contacto{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: blanchedalmond;
    width: 100%;
    
}

.container-contacto h1{
    text-align: center;
    margin-bottom: 1rem;
}

.formulario{
    width: 90%;
    margin: auto;

}

.titulo-contacto{
    border-bottom: 2px solid #20a5ba;
    margin-bottom: 2rem;
}

.contacto h3{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

.fab {
    color: #fff;
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }

  /*footer*/

.footer{
    background-color: #20a5ba;
    color: blanchedalmond;
    vertical-align:middle;
    width: 100%;
}

.col-footer{
    vertical-align: middle;
    text-align: center;
}
.col-footer a i{
    color: blanchedalmond;
}
